<% provide(:title, "About Me" )%>
<div class="main-content">
		<div class="row">
			<div class="col-md-12">
				<h1>About Me</h1>
				<p>
					Here is where explain the purpose of this blog, and 
					some background about me.
				</p>
			</div>
		</div>
</div>



