<% provide(:title, "Blog")%>

<div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<% @blogposts.each do |blogpost| %>
					<div class="published">
						<%= nice_date blogpost.created_at%>
					</div>
					<h1>
						<%= blogpost.title %>
					</h1>
					<p>
						<%  blog_list = blogpost_to_list blogpost.content %>
						<% blog_list.each do |paragraph| %>
							<p>
								<%= paragraph %>
							</p>
						<% end %>
					</p>
					<hr>
				<% end %>
			</div>
		</div>
</div>
