<div>
		<div class="row main-content">
			<div class="col-md-8 col-md-offset-2 zone-content">
				<% @blogposts.each do |blogpost| %> 
					<div class="published">
						<%= nice_date blogpost.created_at%>
					</div>
					<h1>					
						<%= link_to blogpost.title.html_safe, "/blogposts/#{blogpost.id}" %>
					</h1>
					<p>
						<%  blog_list = blogpost_to_list blogpost.content %>
						<% blog_list.each do |paragraph| %>
							<p>
								<%= paragraph.html_safe %>
							</p>
						<% end %>
					</p>
					<hr>
				<% end %>
				<div class="col-md-offset-5">
					<%= link_to "More posts", blog_path %>
				</div>
			</div>
</div>




